*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Seven;
    src: url("./Seven\ Segment.ttf");
}
main{
    scroll-snap-type: y mandatory;
    

}
section{
    scroll-snap-align: start;
}
html {
    scroll-behavior: smooth;
    user-select: none;
  }
body{
    color: #121212;
}
nav{
    position: sticky;
    background-color: #121212;
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.logo {
    margin-top: 12px;
}
.logo a{
    color: cornsilk;
    text-decoration: none;
    padding-left: 20px;
    font-size: 48px;
    font-family: Sacramento;
    user-select: none;
}
.links ul{
    display: flex;
    list-style: none;
}
.links>ul>li {
    padding: 5px 15px;
    margin-right: 30px;
}
.links>ul>li>a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    font-family: Roboto; 
    font-weight: 300;
    font-weight: bold;
    color: cornsilk;
    letter-spacing: 3px;
    transition: all .3s ease-out;
}
.links>ul>li>a::before{
    content: "";
    background-color: crimson;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}
.links>ul>li>a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.links>ul>li>a:hover{
    color: crimson;
}
.crimson{
    color: crimson;
}
.home {
    position: relative;
    display: flex;
    height: calc(100vh - 60px);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;    
}
.home h4{
    position: relative;
    top: 70px;
    font-weight: 400;
    font-size: 96px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-family: 'Fredericka the Great',cursive;
    user-select: none;
    
}
.home h3{
    position: relative;
    top: 190px;
    color: cornsilk;
    font-size: 48px;
    font-family: Major Mono Display,serif;
    user-select: none;
}
.home h1 {
    font-family: Major Mono Display,serif;
    position: relative;
    color: cornsilk;
    top: 195px;
    font-size: 48px;
    user-select: none;
}
#changing-text{
    position: relative;
    top: 200px;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 6px;
    color: crimson;
    font-family: Major Mono Display ;
    user-select: none;
}
.background{
    position: absolute;
    background-color: rgb(22, 22, 22);
    top: 2%;
    left: 1%;
    height: 96%;
    width: 98%;
    z-index: -2;
    border-radius: 20px;
}

/* About Page Styles */



#about{
    padding-right: 60px;
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image {
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-container{
    position: relative;
    width: 85%;
    height: 80%;
    background-color: rgba(255, 247, 221, 0.575);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all .2s ease-in;
}
.image-container:hover{
    width: 80%;
    height: 120%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#image{
    border-radius: 5px;
    width: 100%;
    position: relative;
    top: 0px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.445);
    transition: all .2s ease-in;
    z-index: 2;
}
.image-container:hover #image{
    width: 80%;
}
#caption{
    position: relative;
    bottom: 35px; 
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 24px;
    z-index: 1;
    transition: all .2s ease-in-out;
    opacity: 0;
}
.image-container:hover #caption {
    bottom: 5px;
    opacity: 1;
}
.bio{
    width: 30%;
    text-align: left;
}

.bio-text {
    padding: 40px 40px;
    border: 2px solid lightcoral;
    border-radius: 30px;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}
.bio>p>span{
    color: rgb(123, 66, 180);
    border-bottom: 1px solid rgba(123, 66, 180, 0.253);
}
.fa-chevron-right, .fa-chevron-left{
    cursor: pointer;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 50%;
}
.icons{
    margin-top: 50px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.icons>li>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.social-links{
    position: absolute;
    left: 46px;
    border-radius: 0 20px 20px 0;
    width: 200px;
    font-size: 20px;
    font-family: monospace;
    height: 36px;
    padding: 5px;
    padding-left: 10px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .15s ease-in;
    z-index: 3;
    color: #fff;
}
.icons>li>a:hover .social-links{
    transform: scaleX(1);
    
}
.icons>li>a>img{
    width: 48px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.705));
    transition: all .2s ease-out;
}
.icons>li>a:hover img{
    transform: scale(1.15);
    z-index: 3;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.705));
}
.icons li:nth-child(1) p{
    left: 43px;
    width: 270px;
    background-color: #ef4036;
    z-index: 3;
}
.icons li:nth-child(2) p{
    background-color: #007bb5;
    z-index: 5;
}
.icons li:nth-child(3) p{
    background-color: #3b5998;
    z-index: 4;
}
.icons li:nth-child(4) p{
    background: linear-gradient(65deg,#fccf78,#e05b5d,#9451a3);
    z-index: 1;
}
.icons li:nth-child(5) p{
    background-color: #000;
}
.icons li:nth-child(4) img{
    z-index: 2;
}